# folders
templates/*     linguistic-vendored
public/*        linguistic-vendored
# files
#*.go           linguistic-vendored=false
*.css           text
*.js            text
.env            text
.env*           text
*.json          linguistic-vendored
Gopkg*          text 
LICENSE         text
*.md            text


